.home-page {
  .home-content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    opacity: 0;
    margin-left: 50\px;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;

    .text-zone {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 45%;
      max-width: 50%;
      padding: 20px;

      .photo {
        width: 300px;
        animation: fadeIn 1s 0s backwards;
        margin-left: 10px;
      }

      h1 {
        color: #054a91;
        font-size: 53px;
        font-family: 'Coolvetica';
        font-weight: 400;
        line-height: 60px;
        margin: 10px;

        img {
          width: 32px;
          opacity: 0;
          height: auto;
          animation: rotateIn 1s linear both;
          animation-delay: 1.4s;
        }
      }

      h2 {
        color: #4d4d4d;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        margin: 10px;
        animation: fadeIn 1s 1.8s backwards;
      }

      .flat-button {
        color: tomato;
        width: 150px;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        border: 1px solid tomato;
        border-radius: 2px;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        animation: fadeIn 1s 1.8s backwards;

        &:hover {
          background: tomato;
          color: #054a91;
        }
      }
    }

    .logo-zone {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 45%;
      max-width: 50%;
      padding: 20px;

      svg {
        position: absolute;
        width: 400px;
        max-width: 85%;
        height: auto;
        transform: rotateZ(30deg);
        margin-left: 100px;
      }

      .solid-logo {
        position: absolute;
        width: 400px;
        max-width: 85%;
        height: auto;
        transform: rotateZ(30deg);
        margin-left: 100px;
      }
    }
  }
}
