.logo-container {
    width: 400px;
    position: absolute;
    top: -10%;
    right: 12.5%;
    bottom: 0;
    left: auto;
    margin: auto;
    svg {
        width: 85%;
        position: absolute;
        height: auto;
        top: 10%;
        right: auto;
        left: 10%;
        bottom: auto;
        transform: rotateZ(30deg);
    }
    .solid-logo {
        width: 85%;
        height: auto;
        position: absolute;
        top: 10%;
        right: auto;
        left: 10%;
        bottom: auto;
        margin: auto;
        opacity: 0;
        transform: rotateZ(30deg);
        z-index: 1;        
    }
} 

.svg-container {
    stroke: tomato;
    stroke-width: 2px;
    opacity: 1;
}